
/* General Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
}
.navbar h1 {
   margin: 10px;
}

.logo img {
  width: 150px; /* Adjust the logo size */
}

.nav-links {
  display: flex;
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
}

.nav-links li {
  margin-left: 1.5rem;
  position: relative; /* Required for dropdown positioning */
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 7px 0; /* Uniform padding for menu items */
  display: block;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.nav-links a.active {
  font-weight: bold;
  color: #fff;
}

.nav-links a:hover {
  color: #fff;
}

/* Refined Dropdown Menu Styles */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222; /* Darker background for dropdown */
  border: 1px solid #333; /* Subtle border for separation */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  list-style: none;
  padding: 10px 0; /* Refined padding */
  z-index: 1000;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu a {
  color: #ddd;
  text-decoration: none;
  padding: 7px 15px; /* Uniform padding for submenu items */
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 1rem;
}

.dropdown-menu a:hover {
  background-color: #333; /* Subtle background on hover */
  color: #fff; /* Contrast color on hover */
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 800px) {
  .navbar {
    align-items: flex-start; /* Align items left */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: #121212;
  }

  .nav-links li {
    margin-left: 0;
    width: 100%;
    text-align: left;
  }

  .nav-links.active {
    display: flex;
    margin-top: 10px;
  }

  .nav-links a {
    padding: 10px 20px; /* Even padding for all links */
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* Dropdown for mobile */
  .dropdown-menu {
    position: static;
    display: none;
    flex-direction: column;
    padding: 0; /* Remove extra padding */
    margin-left: 20px; /* Slight indent for submenus */
  }

  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .nav-links.active .dropdown-menu {
    display: flex;
  }

  .dropdown-menu a {
    padding: 10px 20px; /* Consistent padding for submenus */
    background-color: #222; /* Background color for submenus */
    border-bottom: 1px solid #333; /* Divider between submenu items */
  }

  .dropdown-menu a:last-child {
    border-bottom: none; /* Remove border from the last item */
  }
}
