
<!DOCTYPE html>
<html>

<head>
{{ block "head" . }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ .Site.Title }}</title>
<link rel="icon" type="image/png" href="/images/favicon.png" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Correct CSS loading -->
{{ $cssFiles := (resources.Match "css/*.css") | default (resources.Match "github.com/eens1/config/css/*.css") }}
{{ range $cssFiles }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

<!-- Correct JS loading -->
{{ $jsFiles := (resources.Match "js/*.js") | default (resources.Match "github.com/eens1/config/js/*.js") }}
{{ range $jsFiles }}
  <script src="{{ .RelPermalink }}" defer></script>
{{ end }}

<!-- External Libraries -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{{ end }}

<meta name="twitter:card" content="{{ .Params.image | absURL }}" />
<meta name="twitter:site" content="@BroMatthewCap" />
<meta name="twitter:creator" content="@BroMatthewCap" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
<meta name="twitter:image" content="{{ .Params.image | absURL }}" />

</head>

<body>

<header>
{{ partial "nav.html" . }}
</header>

<main>

{{ block "main" . }}
<!-- This will be replaced by content from other templates -->
{{ end }}

<footer>
{{ $footerPartial := printf "partials/%s/footer.html" .Lang }}
{{ if templates.Exists $footerPartial }}
	{{ partial $footerPartial . }}
{{ else }}
	{{ partial "footer.html" . }}
{{ end }}
</footer>
</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>
