<!DOCTYPE html>
<html>

<head>
{{ block "head" . }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ .Site.Title }}</title>
<link rel="icon" type="image/png" href="/images/favicon.png" />

<link rel="canonical" href="{{ with .Params.external_url }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}" />

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<!-- Load style.css first -->
{{ $style := resources.Get "css/style.css" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Load other CSS files -->
{{ $cssFiles := (resources.Match "css/*.css") | default (resources.Match "github.com/eens1/config/css/*.css") }}
{{ range $cssFiles }}
  {{ if ne .Name "style.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
{{ end }}

<!-- Correct JS loading -->
{{ $jsFiles := (resources.Match "js/*.js") | default (resources.Match "github.com/eens1/config/js/*.js") }}
{{ range $jsFiles }}
  <script src="{{ .RelPermalink }}" defer></script>
{{ end }}

<meta name="twitter:card" content="{{ .Params.image | absURL }}" />
<meta name="twitter:site" content="@BroMatthewCap" />
<meta name="twitter:creator" content="@BroMatthewCap" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
<meta name="twitter:image" content="{{ .Params.image | absURL }}" />

<script>
(function() {
    const savedTheme = localStorage.getItem("theme");

    // If the user has no saved preference, default to dark
    const theme = savedTheme || "dark";

    // Apply the theme
    document.documentElement.setAttribute("data-theme", theme);
})();
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" >

{{ end }}

</head>

<body>

<header>
{{ partial "header.html" . }}
</header>

<main>

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

{{ block "main" . }}
{{ end }}

</main>

</body>
</html>
