{{ define "main" }}

<div class="home">

<div class="content">
<article>
{{ .Content }}
</article>
</div>

<div class="citation">
{{ i18n "citation" }}
</div>

{{ partial "listposts.html" . }}

<div class="featured-boxes">
  {{ range (sort (where .Site.AllPages "Params.featured" true) ".Params.title") }}
    <div class="featured-box">
      <a href="{{ .Permalink }}" class="box-link">
        <div class="image">
          {{ with .Params.image }}
            <img src="{{ . | relURL }}" alt="{{ $.Page.Title }}">
          {{ end }}
        </div>
        <div class="content">
          {{ with .Params.title }}
            <h3>{{ . }}</h3>
          {{ end }}
          {{ with .Params.description }}
            <p>{{ . }}</p>
          {{ end }}
        </div>
      </a>
    </div>
  {{ end }}
</div>

{{ $pages := .Pages }}
{{ $sortedPages := sort $pages "File.Path" }}

{{ $customSort := slice }}
{{ range $sortedPages }}
  {{ $filename := .File.LogicalName }}
  {{ $parentDir := path.Base .File.Dir }}

  {{ if not (or (strings.HasSuffix $filename ".hide") (strings.HasSuffix $parentDir ".hide")) }}
    {{ if eq $filename "_index.md" }}
      {{ $customSort = $customSort | append (dict "page" . "sortKey" $parentDir "permalink" .Permalink) }}
    {{ else }}
      {{ $customSort = $customSort | append (dict "page" . "sortKey" $filename "permalink" .Permalink) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $sortedCustom := sort $customSort "sortKey" }}

<div class="list-boxes">
  {{ range $sortedCustom }}
    <div class="list-box">
      <a href="{{ .permalink | relURL }}" class="box-link">
        <div class="icon">
          <i class="{{ .page.Params.icon }}"></i> <!-- Icon from frontmatter -->
        </div>
        <div class="content">
          <h3>{{ .page.Title }}</h3> <!-- Title from frontmatter -->
        </div>
      </a>
    </div>
  {{ end }}
</div>




</div>

{{ end }}
