{{ define "main" }}

<div class="home">

<div class="heading">{{ i18n "latestBlog" }}</div>



<div class="latest-posts-container" style="display: flex; flex-wrap: wrap; gap: 16px; background-color: #121212; padding: 16px; border-radius: 8px;">
  {{ $posts := where (where .Site.Pages "Type" "blog") "Section" "blog" }}
  {{ $filteredPosts := where $posts "File.Path" "not in" "_index.md" }}
  {{ $latestPosts := first 5 (sort $filteredPosts "Date" "desc") }}
  {{ range $latestPosts }}
  <div class="post-item" style="flex: 1 1 calc(50% - 16px); text-align: center; color: #ffffff; border: 1px solid #2c2c2c; border-radius: 8px; overflow: hidden; background-color: #1e1e1e;">
    <a href="{{ .Permalink }}" style="text-decoration: none;">
      {{ with .Params.image }}
      <img src="{{ . }}" alt="{{ .Title }}" style="width: 100%; height: auto; display: block; border-bottom: 1px solid #2c2c2c;">
      {{ else }}
      <img src="/images/default-thumbnail.jpg" alt="{{ .Title }}" style="width: 100%; height: auto; display: block; border-bottom: 1px solid #2c2c2c;">
      {{ end }}
    </a>
    <h3 style="font-size: 16px; margin: 8px 0;">
      <a href="{{ .Permalink }}" style="color: #1e90ff; text-decoration: none;">{{ .Title }}</a>
    </h3>
  </div>
  {{ end }}
</div>


<div class="heading">{{ i18n "quickLinks" }}</div>

<div class="quick-links">
    {{ if .Site.Params.quickLinks }}
        <div class="quick-links-container">
            {{ range sort .Site.Params.quickLinks ".order" }}
                <div class="quick-links-group">
                    <div>{{ .title }}</div>
                    <ul>
                        {{ range .links }}
                            <li><a href="{{ .url }}">{{ .title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>

</div>

<div class="content">
<article>
{{ .Content }}
</article>

<h2>{{ i18n "index" }}</h2>

{{ partial "listposts.html" . }}

</div>

{{ end }}
