{{ define "main" }}

<div class="home">

<div class="content">
<article>
{{ .Content }}
</article>
</div>

<div class="citation">
{{ i18n "citation" }}
</div>

<div class="featured-boxes">
  {{ range .Site.AllPages }}
    {{ if .Params.featured }}
      <div class="featured-box">
        <a href="{{ .RelPermalink }}" class="box-link">
          <div class="image">
            {{ with .Params.image }}
              <img src="{{ . | relURL }}" alt="{{ $.Params.title }}">
            {{ end }}
          </div>
          <div class="content">
            {{ with .Params.title }}
              <h3>{{ . }}</h3>
            {{ end }}
            {{ with .Params.description }}
              <p>{{ . }}</p>
            {{ end }}
          </div>
        </a>
      </div>
    {{ end }}
  {{ end }}
</div>



{{- $contentDir := .Site.BaseURL | relURL "/content" -}}
{{- $contentPages := .Site.RegularPages -}}
{{- $contentItems := slice -}}

{{- range $contentPages }}
  {{- if eq .Section "content" }}
    {{- $contentItem := dict "title" .Title "url" .Permalink -}}
    {{- $contentItems = append $contentItems $contentItem -}}
  {{- end }}
{{- end }}

{{- $contentItems | jsonify }}








</div>

{{ end }}
