/* General Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
  padding: 10px; /* Add padding for better spacing */
  position: relative;
}

.navbar h1 {
  margin: 10px;
  font-size: 1.5rem; /* Adjust font size for responsive layout */
}

.navbar h1 a:hover {
  text-decoration: none;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px; /* Position the hamburger menu closer to the top */
  right: 10px;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 800px) {
  .navbar {
    align-items: center; /* Center align items for a balanced look */
    padding: 0 20px; /* Add horizontal padding */
  }

  .navbar h1 {
    font-size: 1.2rem; /* Reduce title font size on small screens */
    margin-right: auto; /* Push title to the left */
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: #121212;
  }

  .nav-links.active {
    display: flex;
    margin-top: 10px;
  }

  .nav-links a {
    padding: 10px 20px;
  }
}
