:root {
--pagefind-ui-primary: #eeeeee;
--pagefind-ui-text: var(--text-color);
--pagefind-ui-background: #152028;
--pagefind-ui-border: #152028;
--pagefind-ui-tag: var(--text-color);
--pagefind-ui-scale: 1;
--pagefind-ui-border-width: 2px;
--pagefind-ui-border-radius: 8px;
--pagefind-ui-image-border-radius: 8px;
--pagefind-ui-image-box-ratio: 3 / 2;
--pagefind-ui-font: var(--font-family);
}

/*
#search {
max-width: 600px;
margin: 20px auto 0px;
border: solid 2px var(--search-border);
border-radius: 50px;
padding: 1px;
z-index: 999;
height: 50px;
}

#search input {
border: 0px;
border-radius: 50px;
}

.pagefind-ui__drawer {
background: black;
border: 2px solid grey;
margin: 20px auto;
padding: 10px;
}


.pagefind-ui__search-clear {
border-radius: 50px;
text-align: center;
padding: 10px;
}
*/
