<div class="comments">
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="8e7720be-66d0-4d22-bdc6-389d4ae51295"
  data-page-id="{{ .File.UniqueID }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
  data-theme="dark"
></div>
</div>
<script src="https://cusdis.com/js/cusdis.es.js"></script>
<style>
/* More specific selector */
.comments #cusdis_thread {
    background: transparent !important;
    color: #000; /* Change text color for better visibility */
}

.comments #cusdis_thread .cusdis-comment {
    background: transparent !important; /* Ensures comments have no background */
}

</style>

