
<header>
  <div class="container">
    <div class="header-content">
      <div class="site-title">
        <a href="/">
           <img src="/images/tau.jpg">
           <span>{{ .Site.Title }}</span>
        </a>
      </div>
      <nav>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-menu language-menu">
          {{ range .Site.Menus.main }}
            {{ if or (eq .Name "English") (eq .Name "Italiano") }}
              <li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
        <ul class="nav-menu social-menu">
          {{ range .Site.Menus.main }}
            {{ if or (eq .Name "YouTube") (eq .Name "Twitter") }}
              <li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>
