{{ $pages := .Pages }}
{{ $sortedPages := sort $pages "File.Path" }}

{{ $customSort := slice }}
{{ range $sortedPages }}
  {{ $filename := .File.LogicalName }}
  {{ $parentDir := path.Base .File.Dir }}

  {{ if not (or (strings.HasSuffix $filename ".hide") (strings.HasSuffix $parentDir ".hide")) }}
    {{ if eq $filename "_index.md" }}
      {{ $customSort = $customSort | append (dict "page" . "sortKey" $parentDir "permalink" .Permalink) }}
    {{ else }}
      {{ $customSort = $customSort | append (dict "page" . "sortKey" $filename "permalink" .Permalink) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $sortedCustom := sort $customSort "sortKey" }}

<ul>
{{ range $sortedCustom }}
   <div class="post-item">
   <li>
      <a href="{{ .permalink | relURL }}">{{ .page.Title }}</a>
      {{ with .page.Params.summary }}
         <div>{{ . | markdownify }}</div>
      {{ end }}
   </li>
   </div>
{{ end }}
</ul>
