{{ $pages := .Pages }}
{{ $sortedPages := sort $pages "File.Path" }}

{{ $customSort := slice }}
{{ range $sortedPages }}
  {{ $filename := .File.LogicalName }}
  {{ $parentDir := path.Base .File.Dir }}

  {{ if eq $filename "_index.md" }}
    {{ $customSort = $customSort | append (dict "page" . "sortKey" $parentDir "type" "folder" "permalink" .Permalink) }}
  {{ else if .Params.video }}
    {{ $customSort = $customSort | append (dict "page" . "sortKey" $filename "type" "video" "permalink" .Permalink) }}
  {{ else }}
    {{ $customSort = $customSort | append (dict "page" . "sortKey" $filename "type" "document" "permalink" .Permalink) }}
  {{ end }}
{{ end }}

{{ $sortedCustom := sort $customSort "sortKey" }}

<ul>
{{ range $sortedCustom }}
   <div class="post-item">
   <li class="{{ if eq .type "video" }}video-item{{ else if eq .type "folder" }}folder-item{{ else }}document-item{{ end }}">
      <a href="{{ .permalink | relURL }}">{{ .page.Title }}</a>
      {{ if .page.Params.show_summary }}
         {{ with .page.Params.summary }}
            <div>{{ . | markdownify }}</div>
         {{ end }}
      {{ end }}
   </li>
   </div>
{{ end }}
</ul>
