<nav class="navbar">
  <div class="logo">
    <a href="https://eens.netlify.app">(&tau;) Extra Ecclesiam Nulla Salus</a>
  </div>

  <div class="banner">
    <img src="/images/banner.png" alt="Site Banner" />
  </div>

  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <ul class="nav-links">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li class="{{ if .HasChildren }}dropdown{{ end }}">
        <a href="{{ .URL }}" class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }}">
          {{ with .Pre }}{{ . | safeHTML }}{{ end }}
          {{ .Name }}
        </a>
        {{ if .HasChildren }}
          <ul class="dropdown-menu">
            {{ range .Children }}
              <li>
                <a href="{{ .URL }}" class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
