<nav class="navbar">
<div class="logo">
<a href="https://eens.netlify.app">
<img src="/images/logo.svg" alt="Extra Ecclesia Nulla Salus">
</a>

</div>

<div class="hamburger">
<div class="line"></div>
<div class="line"></div>
<div class="line"></div>
</div>

<ul class="nav-links">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
<li>
<a href="{{ .URL }}">
{{ with .Pre }}{{ . | safeHTML }}{{ end }}
{{ .Name }}
</a>
</li>
{{ end }}

<li>

<select id="redirectSelect" onchange="if (this.value) window.location.href=this.value;">
<option value=""><i class="fas fa-globe"></i></option>
<option value="https://eens-en.netlify.app">English</option>
<option value="https://eens-fr.netlify.app">Français</option>
<option value="https://eens-it.netlify.app">Italiano</option>
</select>
</li>
</ul>

</nav>

