<nav class="navbar">
  <div class="logo">
    <a href="https://eens.netlify.app">
      <img src="/images/logo.svg" alt="Extra Ecclesia Nulla Salus">
    </a>
  </div>

  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <ul class="nav-links">

  {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}" title="{{ .Name }}">
        {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
        {{ .Name }}
      </a>
      {{ if .HasChildren }}
        <ul>
          {{ range .Children }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
  {{ end }}
</ul>
</nav>
