
<nav class="navbar">
  <div class="container">
    <!-- Left Section: Logo and Title -->
    <div class="navbar-left">
      <a href="/" class="logo">
        <img src="{{ .Site.Params.siteLogo }}" alt="Logo">
        <span>{{ .Site.Params.siteTitle }}</span>
      </a>
    </div>

    <!-- Right Section: Menu -->
    <div class="navbar-right">
      <ul class="menu">
        {{- range .Site.Params.menu }}
          <li class="menu-item {{ if .submenu }}has-submenu{{ end }}">
            <a href="{{ .url }}">{{ .name }}</a>
            {{ if .submenu }}
              <ul class="submenu">
                {{- range .submenu }}
                  <li><a href="{{ .url }}">{{ .name }}</a></li>
                {{- end }}
              </ul>
            {{ end }}
          </li>
        {{- end }}
        <!-- Social Links -->
        <li>
          <a href="{{ .Site.Params.socialLinks.twitter }}" target="_blank">
            <img src="/images/twitter-icon.svg" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="{{ .Site.Params.socialLinks.youtube }}" target="_blank">
            <img src="/images/youtube-icon.svg" alt="YouTube">
          </a>
        </li>
      </ul>
      <!-- Hamburger Icon -->
      <button class="hamburger" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="mobile-menu" id="mobile-menu">
    <ul>
      {{- range .Site.Params.menu }}
        <li class="{{ if .submenu }}has-submenu{{ end }}">
          <a href="{{ .url }}">{{ .name }}</a>
          {{ if .submenu }}
            <ul>
              {{- range .submenu }}
                <li><a href="{{ .url }}">{{ .name }}</a></li>
              {{- end }}
            </ul>
          {{ end }}
        </li>
      {{- end }}
      <!-- Social Links in Mobile Menu -->
      <li>
        <a href="{{ .Site.Params.socialLinks.twitter }}" target="_blank">
          <img src="/images/twitter-icon.svg" alt="Twitter">
        </a>
      </li>
      <li>
        <a href="{{ .Site.Params.socialLinks.youtube }}" target="_blank">
          <img src="/images/youtube-icon.svg" alt="YouTube">
        </a>
      </li>
    </ul>
  </div>
</nav>

<script>
  // JavaScript to toggle mobile menu
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle.addEventListener('click', () => {
    mobileMenu.classList.toggle('active');
  });
</script>
