

<div id="sidebar" class="sidebar">
  <button id="toggle-sidebar" class="toggle-button">☰</button>
  <div class="sidebar-content">
    <ul>
      {{ range .Site.Params.sidebar }}
      <li>
        <a 
          href="{{ if .submenu }}#{{ else }}{{ .link }}{{ end }}" 
          class="{{ if .submenu }}has-submenu{{ end }}">
          {{ .title }}
          {{ if .submenu }}
          <span class="submenu-indicator">▶</span>
          {{ end }}
        </a>
        {{ if .submenu }}
        <ul class="submenu">
          {{ range .submenu }}
          <li>
            <a href="{{ .link }}">{{ .title }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>
