<!--
<div class="featured-boxes">
  {{ range .Site.Params.featured_boxes }}
    <div class="featured-box">
      <a href="{{ .link }}" class="box-link">
        <div class="icon">
         {{ partial (printf "%s.html" .icon) . }}
        </div>
        <div class="content">
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
        </div>
      </a>
    </div>
  {{ end }}
</div>
-->


<div class="featured-boxes">
  {{ range .Site.Params.featured_boxes }}
    <div class="featured-box">
      <a href="{{ .link }}" class="box-link">
        <div class="image">
          {{ with site.GetPage .link }}
            {{ with .Params.image }}
              <img src="{{ . | relURL }}" alt="{{ .Params.title | default "Featured Image" }}">
            {{ end }}
          {{ end }}
        </div>
        <div class="content">
          {{ with site.GetPage .link }}
            {{ with .Params.title }}
              <h3>{{ . }}</h3>
            {{ end }}
            {{ with .Params.description }}
              <p>{{ . }}</p>
            {{ end }}
          {{ else }}
            {{ with .title }}
              <h3>{{ . }}</h3>
            {{ end }}
            {{ with .description }}
              <p>{{ . }}</p>
            {{ end }}
          {{ end }}
        </div>
      </a>
    </div>
  {{ end }}
</div>
