<div class="home-sections">
  {{ range .Site.Params.homepage_sections }}
  <section id="{{ .id }}" class="homepage-section">
    <div class="section-header">
      <h2>{{ .headline }}</h2>
      <p>{{ .description }}</p>
      <a href="{{ .url }}" class="explore-button">{{ .button_text }}</a>
    </div>
    <div class="section-content grid">
      {{ range .posts }}
      {{ $post := $.Site.GetPage . }}
      {{ if $post }}
      <a href="{{ $post.RelPermalink }}" class="box">
        <img src="{{ $post.Params.image }}" alt="{{ $post.Title }}">
        <h3>{{ $post.Title }}</h3>
      </a>
      {{ else }}
      <p>Error: Post '{{ . }}' not found</p>
      {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}
</div>
