<div class="heading"><a href="/blog">{{ i18n "latestBlog" }}</a></div>

<div class="latest-posts-container">
  {{ $posts := where (where .Site.Pages "Type" "blog") "Kind" "page" }}
  {{ $latestPosts := first 5 (sort $posts "Date" "desc") }}
  {{ range $latestPosts }}
  <div class="post-item">
    <a href="{{ .Permalink }}">
      {{ with .Params.image }}
      <img class="post-image" src="{{ . }}" alt="{{ $.Title }}">
      {{ else }}
      <img class="post-image" src="/images/default-thumbnail.jpg" alt="{{ .Title }}">
      {{ end }}
    </a>
    <h3 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
  </div>
  {{ end }}
</div>
