<div class="quick-links">
    {{ if .Site.Params.quickLinks }}
        <div class="quick-links-container">
            {{ range sort .Site.Params.quickLinks ".order" }}
                <div class="quick-links-group">
                    <div class="title">
                        <a href="{{ .url }}">{{ .title }}</a>
                    </div>
                    <ul>
                        {{ range .links }}
                            <li><a href="{{ .url }}">{{ .title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>
